* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Taviraj', serif;
   

}
s




header {
    height: 80px;
    width: 100%;
    background-color: rgb(4, 101, 88);
    display: flex;
    justify-content: center;
    align-items: center;   
}

.header-wrap {
    height: 50px;
    width: 95vw;
    text-align: center;
    font-size: .60em;
}

h1 {
    color: gainsboro;
    margin-top: 10px;
   
}

h2 {
    margin-top:40px;
    text-align: center;
    color: #222  
}

.top-intro {
    font-size: 14px;
    padding: 0 25px 15px 25px;
    text-align: center;  
    color: #8b8989;
}

hr {
    padding: 2px;
    background-color: #222;
    margin: 30px 20px 5px 20px;
}

.main-wrap {
    width: auto;
    height: 2000px;
    margin: 0 20px;
    /* background-color: aquamarine;  */
    
}

form {

    border-top: 1px solid black;
}


legend {
    font-size: 23px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-left: 0;
}

fieldset {
border: none;
border-bottom: 1px solid black;
display: flex;
flex-direction: column;
}

label,
#state {
    font-size: 14px;
    color: #8b8989;
}

::placeholder {
    color: #bab8b8;
    font-style: italic;
    text-align: right;
    padding-right: 10px;
}

#state {
    background-color: #e8e6e6;
    border-radius:  5px;
    font-size: 14px;
}

.top-field input,
select{
    height: 40px;
    border: none;
    margin-top: 5px;
    background-color: #e8e6e6;
    border-radius: 5px;
}

#zip {
    margin-bottom: 40px;
}

.bottom-wrap {
    border: none;

}

.bottom-intro, p {
    font-size: 18px;
    color: #8b8989;
    margin-top: 20px;
    letter-spacing: 1px;
}

.end-wrap {
    margin-top: 15px; 
}

/* input[type="checkbox"],
input[type="radio"]{
    
} */

.outro {
    padding-left: 10px;
    
}


#js_news {
    margin-bottom: 15px;
}

#html_format {
    margin-top: 15px;
}

#plain_text {
    margin-bottom: 30px;
}

.other {
    font-size: 18px;
    color: #8b8989;
}

#other_topics {
    margin-top: 15px;
    width: 100%;
    border: none;
    background-color: #e8e6e6;
    border-radius: 5px;
}

button {
    width: 100%;
    margin-top: 20px ;
    height: 50px;
    font-size: 18px;
    color: ghostwhite;
    background-color: rgb(43, 125, 125);
    border: none;
    border-radius: 5px;
}

/* --------------------exra styling------------------------- */


input:focus,
select:focus,
textarea:focus,
 #state:focus{
    background-color: rgb(194, 141, 255);
    border: 5px solid #000;
}

/* input[type="radio"]:checked,
input[type="checkbox"]:checked {
  font-weight: bold;
} */


footer p {
    color: #000;
}





    



