* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Taviraj', serif;
 
}  

header {
    height: 60px;
    width: 100%;
    background-color: black;
    color: ghostwhite;
    padding: 10px;
    text-align: center;
    

}

h1 {
    font-size: 24px;
   
    
   
}

main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
    
   
}

.latest-news {
    text-align: center;
    padding-left: 27px;
    padding-right: 27px;
    margin-bottom: 30px;
    color: #cacacad3;
}

.top-line {
    margin: 0 auto;
    width: 100%;
    height: 5px;
    background-color: firebrick;
   
}

.bottom-line {
    margin: 3px auto;
    height: 3px;
    width: 100%;
    background-color: firebrick;
    margin-bottom: 20px;
    

}


.contact-row {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

legend {
    font-size: 22px;
    padding-bottom: 10px;
    
}

label {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: lightslategray;
}

::placeholder {
    color: firebrick;
    font-style: italic;
    font-size: 1rem;
    float: right;
    padding-right: 5px;
    opacity: .4;

}

.type {
    display: block;
    height: 3rem;
    width: 100%;
    background-color: #cacacad3;
    box-shadow: inset 2px 4px 8px rgba(0, 0, 0, 0.3);
    
    
   
}

#state {

    font-size: 15px;
    color: firebrick;
    
}

#zip {
    width: 50%;
}

.interlude-line {
    margin: 40px auto;
    height: 5px;
    background-color: firebrick;
    
}

/* .input:focus {
    border-color: blueviolet;
} */

fieldset {
    border: none;
}

.choice {
    padding-bottom: 20px;
    
    
}

.click {
    padding-left: 20px;
    font-size: 14px;
    
}

.newsletter {
    padding-top: 10px;
    padding-bottom: 10px;
}

label:last-of-type {
    font-weight: 500;
    font-size: 14px;
}

textarea {
    width: 100%;
    height: 8rem;
    background-color: #cacacad3;
    box-shadow: inset 2px 4px 8px rgba(0, 0, 0, 0.3); 

}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: turquoise;
    color: ghostwhite;
    font-weight: 900;
    
}

footer {
    padding: 20px;
    text-align: center;
}

input:focus,
textarea:focus {
    background-color: #FFC2B3;
    border-color: black;
  }

  .type {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    font-size:18px; 
    font-family: 'Taviraj', serif;
  }

  label:hover,
  input:hover,
  select:hover,
  textarea:hover,
  button:hover
  {
    cursor: pointer;
  }

  textarea,
  .type
  {
    /* width: 100%; */
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    font-size:18px; 
    font-family: 'Taviraj', serif; 
  }

  
  button[type="submit"]:active {
    background-color: #FF69B4;
    color: #fff;
}
























/* desktop layout */

@media(min-width:768px) {

    h2 {
        font-size: 28px;
    }

    .top-line {
        margin: auto;
        width: 50vw;
        padding: 2px;
        background-color: firebrick;
       
    }
    
    .bottom-line {
        margin: 3px auto;
        padding: 1px;
        width: 52vw;
        background-color: firebrick;
        margin-bottom: 20px;
    }

 .flex {
    display: flex;
justify-content: left;

   
}

.label {
    width: 140px;
     white-space: nowrap;; 
}

.contact-row {
    width: 55vw;
   
}

.type {
    width: 65%;
    padding-left: 10px;
    margin-bottom: 20px;
    
   
}

#zip {
   max-width: 20%;
   margin: 0;
   padding: 0;
}

.zip {
    padding-right: 80px;
}
  



}

   
 
